<div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                <div class="count"><%= postsCount %></div>
                <h3>کل مطالب</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-comments-o"></i></div>
                <div class="count"><%= commentsCount %></div>
                <h3>تعداد گفتگوها</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                <div class="count"> <%= teachersCount  %></div>
               
                <h3>تعداد اساتید</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-square-o"></i></div>
                <div class="count"><%= usersCount %></div>
                <h3>تعداد دانشجویان</h3>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>آخرین مطالب </h2>
                    <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">تنظیمات 1</a>
                                    </li>
                                    <li><a href="#">تنظیمات 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                        <div class="dashboard-widget-content">

                                <ul class="list-unstyled timeline widget">
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>چه کسی نیاز به یک پنل مدیریت خوب دارد؟</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>13 ساعت پیش</span> توسط <a>مرتضی کریمی</a>
                                                </div>
                                                <p class="excerpt">این یک متن نمونه برای بخش داشبورد پنل مدیریت پارسی
                                                    شده ی Gentelella می باشد که برای نمایش امکانات آن نوشته شده است و
                                                    هیچ معنا و مفهوم خاصی ندارد… <a>بیشتر&nbsp;بخوانید</a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>چه کسی نیاز به یک پنل مدیریت خوب دارد؟</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>13 ساعت پیش</span> توسط <a>مرتضی کریمی</a>
                                                </div>
                                                <p class="excerpt">این یک متن نمونه برای بخش داشبورد پنل مدیریت پارسی
                                                    شده ی Gentelella می باشد که برای نمایش امکانات آن نوشته شده است و
                                                    هیچ معنا و مفهوم خاصی ندارد… <a>بیشتر&nbsp;بخوانید</a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                
                                    
                                </ul>
                            </div>
                    
                </div>
            </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>آخرین گفتگوها </h2>
                    <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">تنظیمات 1</a>
                                    </li>
                                    <li><a href="#">تنظیمات 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                        <ul class="list-unstyled msg_list">
                                <li>
                                    <a>
                                <span class="image">
                                  <img src="<%= auth.user.profileImage %>" alt="img">
                                </span>
                                        <span>
                                  <span>مرتضی کریمی</span>
                                  <span class="time">3 دقیقه پیش</span>
                                </span>
                                        <span class="message">
                                  فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که...
                                </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                <span class="image">
                                  <img src="<%= auth.user.profileImage %>" alt="img">
                                </span>
                                        <span>
                                  <span>مرتضی کریمی</span>
                                  <span class="time">3 دقیقه پیش</span>
                                </span>
                                        <span class="message">
                                  فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که...
                                </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                <span class="image">
                                  <img src="<%= auth.user.profileImage %>" alt="img">
                                </span>
                                        <span>
                                  <span>مرتضی کریمی</span>
                                  <span class="time">3 دقیقه پیش</span>
                                </span>
                                        <span class="message">
                                  فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که...
                                </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                <span class="image">
                                  <img src="<%= auth.user.profileImage %>" alt="img">
                                </span>
                                        <span>
                                  <span>مرتضی کریمی</span>
                                  <span class="time">3 دقیقه پیش</span>
                                </span>
                                        <span class="message">
                                  فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که...
                                </span>
                                    </a>
                                </li>
                            </ul>
                    
                </div>
            </div>
    </div>