<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>ایجاد مطلب جدید
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">تنظیمات 1</a>
                        </li>
                        <li><a href="#">تنظیمات 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form action="/admin/newpost" onsubmit="newPostSubmit(event)" method="POST"
                class="form-horizontal form-label-left" novalidate="" enctype="multipart/form-data">

                <div class="form-group">
                    <label>عنوان مطلب</label>
                    <input type="text" class="form-control" name="title" style="padding:20px 10px"
                        placeholder="لطفا عنوان نوشته را وارد نمایید ...">
                </div>


                <div class="x_content">
                    <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" id="textarea-font" title="فونت"><i
                                    class="fa fa-font"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="اندازه فونت"><i
                                    class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-edit="fontSize 5">
                                        <p style="font-size:17px">بزرگ</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 3">
                                        <p style="font-size:14px">معمولی</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 1">
                                        <p style="font-size:11px">کوچک</p>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="bold" title="درشت (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn" data-edit="italic" title="ایتالیک (Ctrl/Cmd+I)"><i
                                    class="fa fa-italic"></i></a>
                            <a class="btn" data-edit="strikethrough" title="خط خورده"><i
                                    class="fa fa-strikethrough"></i></a>
                            <a class="btn" data-edit="underline" title="زیرخط (Ctrl/Cmd+U)"><i
                                    class="fa fa-underline"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="insertunorderedlist" title="لیست دایره ای"><i
                                    class="fa fa-list-ul"></i></a>
                            <a class="btn" data-edit="insertorderedlist" title="لیست عددی"><i
                                    class="fa fa-list-ol"></i></a>
                            <a class="btn" data-edit="outdent" title="کاهش دندانه (Shift+Tab)"><i
                                    class="fa fa-dedent"></i></a>
                            <a class="btn" data-edit="indent" title="دنداره (Tab)"><i class="fa fa-indent"></i></a>
                        </div>

                        <div class="btn-group">

                            <a class="btn" data-edit="justifyright" title="تراز راست (Ctrl/Cmd+R)"><i
                                    class="fa fa-align-right"></i></a>
                            <a class="btn" data-edit="justifycenter" title="وسط (Ctrl/Cmd+E)"><i
                                    class="fa fa-align-center"></i></a>
                            <a class="btn" data-edit="justifyleft" title="تراز چپ (Ctrl/Cmd+L)"><i
                                    class="fa fa-align-left"></i></a>
                            <a class="btn" data-edit="justifyfull" title="جاستیفای (Ctrl/Cmd+J)"><i
                                    class="fa fa-align-justify"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="ابرلینک"><i
                                    class="fa fa-link"></i></a>
                            <div class="dropdown-menu input-append">
                                <input class="span2" placeholder="URL" type="text" data-edit="createLink">
                                <button class="btn" type="button">افزودن</button>
                            </div>
                            <a class="btn" data-edit="unlink" title="حذف ابر لینک"><i class="fa fa-cut"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="undo" title="باطل کردن (Ctrl/Cmd+Z)"><i
                                    class="fa fa-undo"></i></a>
                            <a class="btn" data-edit="redo" title="بازگردانی (Ctrl/Cmd+Y)"><i
                                    class="fa fa-repeat"></i></a>
                        </div>
                    </div>

                    <div id="editor" class="editor-wrapper placeholderText" contenteditable="true">
                    </div>
                    <textarea id="descr" name="editor_content" style="display:none;"></textarea>
                    <br>

                    <!-- file and image input-->
                    <div class="row">
                            <div class="form-group col-md-6 col-sm-12 col-xs-6">
                                    <label>فایل پیوست</label>
                                <div class="input-group">
                                    <input type="hidden" id="file-id" name="fileId" value="">

                                    <input type="text" class="form-control" readonly id="file-name" value=""
                                        placeholder="انتخاب فایل پیوست ...">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" id="showFiles" data-toggle="modal"
                                            data-target=".bs-example-modal-lg"><i class="fa fa-paperclip"></i> فایل
                                            پیوست</button> </span>
                                </div>
                            </div>
    
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>تصویر شاخص</label>

                                <input type="file" name="image" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        
                        <!-- tags and category-->

                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12 col-xs-4">
                                <label>دسته بندی مطلب</label>
                            <select class="form-control" name="category">
                                <% allCats.forEach(cat=>{%>
                                <option value="<%= cat.id%>">
                                    <%= cat.name %>
                                </option>
                                <%})%>

                            </select>
                        </div>

                        <div class="form-group col-md-8 col-sm-12 col-xs-8">
                                <label>برچسب ها</label>
                            <input type="text" class="form-control" name="tags" placeholder="برچسب ها را با , جدا کنید ...">
                        </div>

                    </div>

                    
                    <div class="row form-group">
                        <button class="btn btn-primary"> انتشار مطلب</button>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <!-- modal *********************-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">انتخاب فایل پیوست</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <div class="col-md-6 col-sm-6 col-xs-6 ">
                                    <a class="btn btn-success" href="/admin/upload"> <i class="fa fa-plus pl-1"></i>
                                        آپلود فایل جدید
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-md-4 col-sm-12 col-xs-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="جستجو ...">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="divider-dashed" style="margin:0px 0 20px 0 ;"></div>
                    <div class="modal-file-selector">
                        <div class="row top_tiles">

                            <% allFiles.forEach(file=>{ %>
                            <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12 select-file"
                                style="cursor: pointer;" data-fileId="<%=file.id %>" data-fileName="<%=file.name%>">

                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-file"></i></div>
                                    <div class="count"><%= getExtName(file.path) %></div>
                                    <h3 style="font-size: 15px; margin:20px  10px 0 10px">
                                        <%=file.name%></h3>
                                    <p>اندازه : <%= byteToMB(file.size) %> MB</p>
                                </div>
                            </div>
                            <%})%>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>

            </div>
        </div>
    </div>


</div>

<script>
    function newPostSubmit(e) {
        let editor = $("#editor");
        let textarea = $("#descr");
        textarea.val(editor.html())

    }
</script>